# Practice 1
-  Create a list of 4 countries: `["Cambodia", "China", "Vietnam", "Laos"]` and print the first country in the list
- Create a list of animals: `["dog", "cat", "rabbit", "hamster"]` Print the last animal using negative indexing

In [1]:
countries = ["Cambodia", "China", "Vietnam", "Laos"]
# accessing the first country of the list
countries[0]

'Cambodia'

In [2]:
animals = ["dog", "cat", "rabbit", "hamster"]
# accessing the last animal of the list using negative indexing
animals[-1]

'hamster'

# Practice 2
- Create a list of Fruits: `["apples", "banana", "cherry"]`. Change "banana" to "mango" and print the list
- Create a list called `a = [1, 2, 3]`
    - Assign `b = a`
    - Then set `b[0] = 100`
    - print both `a and b`

In [3]:
fruits = ["apples", "banana", "cherry"]
# finding the fruit "banana" and assigning it to "mango" using list.index method
fruits[fruits.index("banana")] = "mango"
print(fruits)

['apples', 'mango', 'cherry']

In [4]:
a = [1, 2, 3]
# copying the list
b = a
# set 0th index to 100
b[0] = 100
print(a, b)

[100, 2, 3] [100, 2, 3]

# Practice 3
- Given two lists. Write code to print: `["Alice Smith", "Bob Lee"]`. Use
element access and `+`.
```python
first_names = ["Alice", "Bob"]
last_names = ["Smith", "Lee"]
```
- Given:
  ```python
    a = ["A", "B", "C"]
    b = ["1", "2", "3"]
  ```
  - Create `["A", "1", "B", "2", "C", "3"]`
- Given:
  ```python
    nums = [11, 22, 33, 44, 55, 66]
  ```
  Split the list into 2 halves and swap their positions. Final result: `[44, 55, 33, 44, 55, 66]`

In [5]:
first_names = ["Alice", "Bob"]
last_names = ["Smith", "Lee"]
full_names = []

full_names.append(first_names[0] + " " + last_names[0])
full_names.append(first_names[1] + " " + last_names[1])


# for DRY code

# for i in range(len(first_names)):
#     full_names.append(f"{first_names[i]} {last_names[i]}")

# or 

# full_names = [first_names[i] + " " + last_names[i] for i in range(len(first_names))]

print(full_names)

['Alice Smith', 'Bob Lee']

In [6]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]

# let c be the new list
c = [a[0]] + [b[0]] + [a[1]] + [b[1]] + [a[2]] + [b[2]]


# DRY principle code
# c = []
# for i in range(len(a)):
#     c+= (a[i] + b[i])

print(c)

['A', '1', 'B', '2', 'C', '3']

In [7]:
nums = [11, 22, 33, 44, 55, 66]
nums = nums[3:] + nums[:3]

# generalize to n dimension (assume n is even)
# half_length = int(len(nums)/2)
# nums = nums[half_length:] + nums[:half_length]

print(nums)

[44, 55, 66, 11, 22, 33]

# Practice 4
- Given `t = (10, 20, [30, 40])`. Change the value 30 to 99. Is it possible? Explain your answer.
- Given `data = ("a", "b" , "c", "a", "b", "a")`. Count how many times "a" appears. Find the index of the first "b".
- Given `students = (("Alice", 18), ("Bob", 20), ("Charlie", 19))`, print all names only, using a loop

In [8]:

# It is possible to change the value of 30 to 99 since it's contained in a list stored in a tuple.
# Doing t[2][0] = 99 changes the composition of the list from [30, 40] to [99, 40]
# however, the list is still of the same object and hence, this operation is still valid for tuples
# to check, we can use the `id` function to verify that the list is of the same object after the operation

t = (10, 20, [30, 40])
print("Address before operation: ", id(t[2]))
print(t)
t[2][0] = 99
print("Address after operation: ", id(t[2]))
print(t)

Address before operation:  140061301877248
(10, 20, [30, 40])
Address after operation:  140061301877248
(10, 20, [99, 40])

In [9]:
data = ("a", "b", "c", "a", "b", "a")

a_count = 0
first_b_index = -1
# first_b_index is negative if 'b' isn't in the list

for i in range(len(data)):
    char = data[i]
    if char == "a":
        a_count += 1
    elif char == "b" and first_b_index < 0:
        # only record the first b index
        first_b_index = i
        
print(f"Count of a: {a_count}")
print(f"Index of first b: {first_b_index}")

Count of a: 3
Index of first b: 1

In [10]:
students = (("Alice", 18), ("Bob", 20), ("Charlie", 19))
for name, age in students:
    # only printing the names
    print(name)

Alice
Bob
Charlie

# Practice 5
- Given `data = [1, 2, 3, 4, 5, 6, 7, 8]`, print every other number (step size = 2)
- Given `t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")`. print only the weekend days from the tuple
- Remove the first and last elements from this list using slicing

In [11]:
data = [1, 2, 3, 4, 5, 6, 7, 8]


# printing every other number
print(data[::2])

[1, 3, 5, 7]

In [12]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
# only printing from "Sat" onwards (Assume list is sorted by day of the week, starting from Monday)
t[5:]

('Sat', 'Sun')

In [13]:
letters = ["A", "B", "C", "D", "E"]
# taking out the first, and last element of the list
letters[1:-1]

['B', 'C', 'D']

# Practice 6

**Objective**: Create a functional Python Program that allows users to manage and analyze student's grades using lists, tuples, and functions

- Store student records as a list of tuples
  ```python
  students = [
      ("Alice", [85, 99, 88]),
      ("Bob", [70, 75, 80]),
      ("Charlie", [95, 100, 98])
  ]
  ```
- Perform slicing on the list to show specific student data
- Write a function `get_average(scores)` to calculate the average from a list of scores
- Write a function `add_student(name, scores)` to add a new student. Prevent duplicates based on name.
- Write a function get_all_average(students) to return a list of tuples with stdent names and their average scores
- Sort and display the top-performing students based on average score
- Write a function `update_score(name, index, new_score)` to update a specific score of a student
- Ask the user to enter a student name and print the student's full score record. If the name does not exist, print a message.

**Bonus Challenge:**

- Allow the user to remove a student by name.
- print a formated grade summary report.

In [14]:
students = [
      ("Alice", [85, 99, 88]),
      ("Bob", [70, 75, 80]),
      ("Charlie", [95, 100, 98])
  ]

# assume new students are added using list.append
print(f"Last 3 students added: {students[-3:]}")

def is_student_in_list(students, student_to_check):
    # checks whether the student is in the list
    # if student is found in the list, return True and its index
    # if student isn't found, return False and None as its index
    
    found = False
    found_at_index = None
    for i in range(len(students)):
        if students[i][0] == student_to_check:
            found = True
            found_at_index = i
            # breaking out of the loop assuming the list "student" has no duplicates
            break
    return found, found_at_index

def get_average(scores):
    sum = 0
    for score in scores:
        sum += score
    return sum/len(scores)

def add_student(name, scores):
    global students
    # add a new student only if their name is NOT in the list
    if not is_student_in_list(students, name)[0]:
        students.append((name, scores))

def get_all_averages(students):
    # calculating the average of all of the students manually
    return [(name, get_average(scores)) for name, scores in students]
 
# print the top performing student (find max of the average grade)
print(f"Top performing student: f{max(get_all_averages(students), key=lambda x: x[1])}")


def update_score(name, index, new_score):
    global students
    # update score as long as name is in the list of students
    for i in range(len(students)):
        if students[i][0] == name:
            students[i][1][index] = new_score


input_name = input("Enter a student name: ").title()
student_in_list, index = is_student_in_list(students, input_name)
if student_in_list:
    # retrieves the name and the student's score as long as they're in the list
    print(f"Name: {students[index][0]}\nScore: {students[index][1]}")
else:
    # otherwise, states that the student isn't in the list
    print("Can't find '{}' in the list".format(input_name))

Last 3 students added: [('Alice', [85, 99, 88]), ('Bob', [70, 75, 80]), ('Charlie', [95, 100, 98])]
Top performing student: f('Charlie', 97.66666666666667)

Enter a student name:  Alice

Name: Alice
Score: [85, 99, 88]

In [15]:
# student removal program

input_name = input("Enter a student name: ").title()
student_in_list, index = is_student_in_list(students, input_name)
if student_in_list:
    # removing a student from list via slicing
    students = students[:index] + students[index+1:]
    print(f"Removed {input_name}")
    print(students)
else:
    print("Can't find the student in the list")

Enter a student name:  Ben

Can't find the student in the list

In [16]:
# print formated grade summary report
import pandas as pd


# converting to DataFrame For ease of manipulation.
# assume subject list is of length 3
df = pd.DataFrame({name:scores for name, scores in students}, index=[f"Subject {i}" for i in range(1, 4)])

# Inserting "Mean column"
df.rename(index={len(df): "Mean"})
df.loc["Mean"] = df.mean().values

# Inserting "Standard Deviation column"
df.rename(index={len(df): "Std Dev"})
df.loc["Std Dev"] = df.std().values

df.rename(index={len(df): "Grade"})
df.loc["Grade"] = df.loc["Mean"].map(lambda x: "FFFFFEDCBAA"[int(x//10)])
# Grading Criteria:
# A: [90, 100]
# B: [80, 90)
# C: [70, 80)
# ...
# F: [0, 50)

df

               Alice       Bob    Charlie
Subject 1       85.0      70.0       95.0
Subject 2       99.0      75.0      100.0
Subject 3       88.0      80.0       98.0
Mean       90.666667      75.0  97.666667
Std Dev      6.01849  4.082483   2.054805
Grade              A         C          A