# Practice 1

##### Create a list of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [4]:
my_list = ["Cambodia", "China", "Vietnam", "Laos"]
print(my_list[0])

Cambodia

#### Create a list of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [5]:
animal =  ["dog", "cat", "rabbit", "hamster"]
print(animal[-1])

hamster

# Practice 2

#### Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list.

In [6]:
fruits =  ["apple", "banana", "cherry"]
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'cherry']

#### Create a list called a = [1, 2, 3]
#### Assign b = a
#### Then set b[0] = 100
#### Print both a and b.

In [ ]:
a = [1, 2, 3]
b = a
b[0] = 100
print(a, b)

[100, 2, 3] [100, 2, 3]

# Practice 3

#### Given two lists. Write code to print: ["Alice Smith","Bob Lee"].Use element access and +.

In [ ]:
first_names=["Alice","Bob"]
last_names=["Smith","Lee"]
first = first_names[0] + ' ' + last_names[0]
second = first_names[1] + ' ' + last_names[1]
name = [first, second]
print(name)

['Alice Smith', 'Bob Lee']

#### Given
##### a =["A","B","C"]
##### b =["1","2","3"]

In [23]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]
c = []
for i in range(3):
    c.append(a[i])
    c.append(b[i])
print(c)

['A', '1', 'B', '2', 'C', '3']

#### Given nums=[11, 22, 33, 44, 55, 66]
#### Split the list into 2 halves and swap their positions. Final result: [44,55,66,11, 22,33]

In [21]:
nums = [11, 22, 33, 44, 55, 66]
num1 = nums[0:3]
num2 = nums[3:]
num3 = num2 + num1
print(num3)

[44, 55, 66, 11, 22, 33]

# Practice 4

#### Given t =(10,20, [30, 40])
#### Change the value 30 to 99. Is it possible? Explain your answer

In [ ]:
t = (10, 20, [30, 40])
a, b, c = t
c[0] = 99
print(t)
# It is possible. We just need to unpack it then access the list by using its index. Next change list item 30 to 99.

(10, 20, [99, 40])

####  Given data=("a","b","c","a","b","a") Count how many times "a" appears.Find the index of the first "b".

In [17]:
data = ("a", "b", "c", "a", "b", "a")
# Count how many times 'a' appears
count = 0
for i in data:
    if i == "a":
        count += 1
print(count)
# Find the index of the first 'b'
index = data.index('b')
print(index)

3
1

####  Given students=(("Alice",18),("Bob", 20),("Charlie",19))
#### Print all names only,using a loop.

In [18]:
students=(
 ("Alice",18),
 ("Bob", 20),
 ("Charlie",19))
for name, age in students:
    print(name)

Alice
Bob
Charlie

# Practice 5

####  Given data=[1, 2, 3, 4, 5, 6, 7, 8] Print every other number (step size=2)

In [19]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
print(data[::2])

[1, 3, 5, 7]

####  Given t =("Mon","Tue", "Wed","Thu","Fri", "Sat","Sun") Print only the weekend days from the tuple.

In [21]:
t = ("Mon","Tue", "Wed","Thu","Fri", "Sat","Sun")
print(t[5:])

('Sat', 'Sun')

####  Remove the first and last elements from this list using slicing: letters =["A", "B","C","D","E"]

In [22]:
letters =["A","B","C","D","E"]
print(letters[1:4])

['B', 'C', 'D']

# Practice 6

####  Create a functional Python program that allows users to manage and analyze student grades using lists, tuples, and functions.