# Practice 1

#### Create a list of 4 countries: ["Cambodia","China","Vietnam","Laos"]

In [23]:
list = ['Cambodia', 'China', 'Vietnam', 'Laos']
print("list[0] is ", list[0])

list[0] is  Cambodia

In [24]:
list = ['dog','cat','rabbit','hamster']
print("list[-1] is ", list[-1])

list[-1] is  hamster

# Practice 2

In [25]:
list = ['apple', 'banana', 'cherry']
list[1] = 'mango'
print (list)

['apple', 'mango', 'cherry']

In [26]:
a = [1, 2, 3]
b = a
b[0] = 100
print("a is ", a)
print("b is ", b)

a is  [100, 2, 3]
b is  [100, 2, 3]

# Practice3

In [12]:
first_names = ["Alice", "Bob"]
last_names = ["Smith", "Lee"]
print("name [", first_names[0] + ' ' + last_names[0],",", first_names[1] + ' ' + last_names[1], "]")

name [ Alice Smith , Bob Lee ]

In [2]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]
print("New list ", [a[0], b[0], a[1], b[1], a[2], b[2]])

New list  ['A', '1', 'B', '2', 'C', '3']

In [5]:
nums = [11, 22, 33, 44, 55, 66]
print("Final result is ", [nums[3], nums[4], nums[5], nums[0], nums[1], nums[2]])

Final result is  [44, 55, 66, 11, 22, 33]