In [1]:
print("Document")

Document

# Practice1 (1)

#### Createalist of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [1]:
a = ["Cambodia", "China", "Vietname", "Laos"]
print(a[0])

Cambodia

# Practice1 (2)

####  Createalist of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing

In [2]:
b = ["dog", "cat", "rabbit", "hamster"]
print(b[-1])

hamster

# Practice2 (1)

####  Createalist of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list.

In [3]:
c = ["apple", "banana", "cherry"]
c[1] = "mango"
print(c)

['apple', 'mango', 'cherry']

# Practice2 (2)

####  Createalist called a = [1, 2, 3]
#### Assign b = a
#### Then set b[0] = 100
#### Print both a and b.

In [5]:
a = [1, 2, 3]
print(a)
b = a
b[0]= 100
print(b)

[1, 2, 3]
[100, 2, 3]

# Practice3(1)

####  Given two lists. Write code to print: ["Alice Smith", "BobLee"].Use elementaccessand+.
#### first_names=["Alice","Bob"]
#### last_names=["Smith","Lee"]

In [2]:
first_names= ["Alice", "Bob"]
last_names= ["Smith", "Lee"]
c = first_names[0] + " " + last_names[0]
d = first_names[1] + " " + last_names[1]
e = [c, d]
print(e)

['Alice Smith', 'Bob Lee']

# Practice3 (2)

#### Given
#### a =["A","B","C"]
#### b =["1","2","3"]
#### Create a new list like this: ["A","1","B","2","C","3"]

In [13]:
a=["A", "B", "C"]
b=["1", "2", "3"]
c = []
for i in range(3):
   c.append(a[i])
   c.append(b[i])
print(c)

['A', '1', 'B', '2', 'C', '3']

# Practice3 (3)

####  Given nums=[11,22,33,44,55,66]
#### Split the list into 2 halves and swap  their positions. Finalresult: [44,55,66,11,22,33]

In [4]:
num = [11, 22, 33, 44, 55, 66]
num1 = [11, 22, 33]
num2 = [44, 55, 66]
print(num2 + num1)

[44, 55, 66, 11, 22, 33]

# Practice4 (1)

#### Given t = (10, 20, [30, 40]). change the value from 30 to 99. is it possible? Explain your answer.

In [ ]:
t = (10, 20, [30, 40])
t[2][0] = 99
print(t)

#It is possbible becuase that list is also a part of tuple's index

(10, 20, [99, 40])

# Practice4 (2)

#### Given data=("a","b","c","a","b","a")Count how many times "a" appears. Find the index of the first "b".

In [13]:
x=("a", "b", "c", "a", "b", "a")
count = 0
for i in x:
    if i == "a":
        count += 1
print(count)

index = x.index('b')
print(index)

3
1

# Practice4 (3)

#### Given
#### students=(
#### ("Alice",18),
#### ("Bob", 20),
#### ("Charlie",19))
#### Print all names only , using a loop.

In [ ]:
x = (
    ("Alice", 18))