# Practice1

### Createalist of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [2]:
list = ["Cambodia", "China", "Vietnam", "Laos"]
list[0]

'Cambodia'

### Createalist of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [3]:
list = ["dog", "cat", "rabbit", "hamster"]
list[-1]

'hamster'

# Practice2

### Createalist of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list.

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'cherry']

### Createalist called a = [1, 2, 3] 
### Assign b = a 
### Then set b[0] = 100 Print both a and b.

In [6]:
a = [1, 2, 3]
print("a:", a)
b = a
b[0] = 100
print("b:", b)

a: [1, 2, 3]
b: [100, 2, 3]

# Practice 3

### Giventwolists.Writecodetoprint: ["AliceSmith","BobLee"].Use elementaccessand+.

In [1]:
first_names=["Alice","Bob"]
last_names=["Smith","Lee"]
for i in range(len(first_names)):
    print(f"{first_names[i]} {last_names[i]}")

Alice Smith
Bob Lee

### given list a an b

In [4]:
a =["A","B","C"]
b =["1","2","3"]
new_list = []
i = 0
# Using a while loop to iterate through the lists
while i< len(a):
    new_list.append(a[i])
    new_list.append(b[i])
    i += 1
print(new_list)

['A', '1', 'B', '2', 'C', '3']

### given num 
### Splitthelistinto2halvesandswaptheirpositions.Finalresult: [44,55,66,11,22,33]

In [5]:
nums=[11,22,33,44,55,66]
half = len(nums) // 2
first_half = nums[:half]
second_half = nums[half:]
swapped_list = second_half + first_half
print(swapped_list)
# given list a an b

[44, 55, 66, 11, 22, 33]

# Practice 4

### Given
### t =(10,20,[30,40])
### Changethevalue30to99. Isitpossible?Explainyouranswer

In [1]:
# yes we can change the value of 30 to 99 and to explain it we can say that
# tuples are immutable but the list inside the tuple is mutable so we can change the value of
t =(10,20,[30,40])
t[2][0] = 99
print(t)

(10, 20, [99, 40])

### Given
### data=("a","b","c","a","b","a")
### Counthowmanytimes"a"appears.Findtheindexofthefirst"b".

In [5]:
data = ("a","b","c","a","b","a")
count_a = data.count("a")
first_b_index = data.index("b")
print(f"Count of 'a': {count_a}\nIndex of first 'b': {first_b_index}")

Count of 'a': 3
Index of first 'b': 1

### Givenn student tumple and then print the name only

In [13]:
# give 
students=(
    ("Alice", 20, "A"),
    ("Bob", 22, "B"),
    ("Charlie", 21, "C"))
for student in students:
    name, age, grade = student
    print(f"Name: {name}")

Name: Alice
Name: Bob
Name: Charlie

# Practice 5 
###  Print every other number(stepsize=2):

In [16]:
# given
data=[1,2,3,4,5,6,7,8]
print(data[::2])  # Print every other number (step size = 2)
print(data[1::2])  # Print every other number starting from index 1 (step size = 2)

[1, 3, 5, 7]
[2, 4, 6, 8]

### Printonlytheweekenddaysfromthetuple.

In [21]:
# given
t =("Mon","Tue", "Wed","Thu","Fri", "Sat","Sun")
weekend_days = t[5:]  # Extracting weekend days (Saturday and Sunday)
print(weekend_days)

('Sat', 'Sun')

###  Remove the first and last elements from this list using slicing:

In [22]:
# given
letters =["A","B","C","D","E"]
remove = letters[1:-1]
print(remove)  # Output: ['B', 'C', 'D']

['B', 'C', 'D']

# Practice 6

In [ ]:
# Given