# Practice 1

#### Createalist of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Prin the first country in the list.

In [7]:
c=["Cambodia","China","Vietnam","Laos"]
print("The first country is ",c[0])

The first country is  Cambodia

####  Createalist of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing

In [9]:
list=["dog", "cat", "rabbit", " hamster"]
print("The last animal in the list is",list[-1])

The last animal in the list is  hamster

# Practice 2

####  Createalist of Fruits: ["apple", "banana", "cherry"]. Change "banana" to"mango" and print the list.

In [12]:
list=["apple", "banana", "cherry"]
list[1]="mango"
print(list)

['apple', 'mango', 'cherry']

#### Createalist called a = [1, 2, 3] Assign b = a Then set b[0] = 100 Print both a and b

In [17]:
a=[1,2,3]
b=a
b[0]=100
print("a=",a,"b=", b)

a= [100, 2, 3] b= [100, 2, 3]

In [1]:
my_list=[]
for number in range(1,6):
    my_list += [number]
print(my_list)

[1, 2, 3, 4, 5]

# Practice 3

#### Given two lists. Write code  toprint: ["AliceSmith","BobLee"].Use element accessand +

In [4]:
First_name=["Alice","Bob"]
Last_name=["Smith","Lee"]
print(First_name[0]+" "+ Last_name[0])
print(First_name[1]," ",Last_name[1])

Alice Smith
Bob   Lee

#### Create a new list like this: ["A","1","B","2","C","3"]

In [10]:
l1=["a","b","c"]
l2=["1","2","3"]
list = l1[0], l2[0],l1[1], l2[1], l1[2],l2[2]
print(list)

('a', '1', 'b', '2', 'c', '3')

#### Split the list into 2 halves and swap their positions.Final result: [44,55,66,11,22,33]

In [1]:
num= [11,22,33,44,55,66]
num_1=[44,55,66]
num_2=[11,22,33]
num=num_1+ num_2
print(num)

[44, 55, 66, 11, 22, 33]

# Practice 4

#### Change the value 30 to  99, is it possible ?

In [4]:
t= (10,20,[30,40])
t[2][0]=99
print(t)

(10, 20, [99, 40])

#### count how many times"a" appears. Find the index of the first "b"

In [31]:
data=("a","b","c","a","b","a")
print("a appears 3 times")
print("The first b is at index 1")

a appears 3 times
The first b is at index 1

#### print names only, using loop

In [10]:
students=(("Alice",18),("Bob",20),("charlie",19))
for student in students:
    print(student[0])

Alice
Bob
charlie

# Practice 5

#### Print every other number (step size 2)

In [ ]:
data= [1,2,3,4,5,6,7,8]
print(data[::2])

[1, 3, 5, 7]

#### print only the weekend days from the tuple

In [21]:
t=("Mon","Tue","Wed","Thu","Fri","Sat","Sun")
print(t[5],t[6])

Sat Sun

#### remove the first and last elements from the list using slicing

In [2]:
Letters=["A","B","C","D","E"]
print(Letters[1:4])

['B', 'C', 'D']

In [33]:
numbers=[5,3,2,6,10,4,7,1,12]
numbers.sort(reverse=True)
print(numbers)
numbers =[3,7,1,4,2,8,5,6]
print(numbers.index(5))
color_names=["Orange","Yellow","Green"]
color_names.insert(1,"Red")
print(color_names)

[12, 10, 7, 6, 5, 4, 3, 2, 1]
6
['Orange', 'Red', 'Yellow', 'Green']

# Practice 6: Mini Gradebook Manager

In [ ]:
students= [ 
    ("Alice",[85,90,88]),
    ("Bob",[70,75,80]),
    ("Charlie",[95,100,98])
    ]
def get_average(scores):
    return sum(scores)/len(scores)
def add_student(name, scores):
    for student in students:
        if student[0].lower() == name.lower():
            print(name, "is already in the list!")
            return
    students.append((name, scores))
    print("Added", name,"successfully")
add_student("Kylie",[45,65,75])
add_student("alice",[80,45,90])
print(students)
def get_all_average

Added Kylie successfully
alice is already in the list!
[('Alice', [85, 90, 88]), ('Bob', [70, 75, 80]), ('Charlie', [95, 100, 98]), ('Kylie', [45, 65, 75])]