# Practice1

In [11]:
countries= ["Cambodia", "China", "Vietnam", "Laos"]
print("the fist country of the list is", countries[0])

the fist country of the list is Cambodia

In [12]:
animals= ["dog", "cat", "rabbit", "hamster"]
print("the last animal is", animals[-1])

the last animal is hamster

# Practice2

In [21]:
fruits= ["apple", "banana", "cherry"]
fruits[1]= "mango"
print(fruits)

['apple', 'mango', 'cherry']

In [22]:
a=[1,2,3]
b= a
b[0]= 100
print(a,b)

[100, 2, 3] [100, 2, 3]

# Practice3

In [24]:
first_name = ["Alice", "Bob"]
last_name = ["Smith", "Lee"]
name= first_name[0]+" "+last_name[0], first_name[1]+" "+last_name[1]
print(name)

('Alice Smith', 'Bob Lee')

In [25]:
a= ["A","B","C"]
b= ["1","2","3"]
list = a[0],b[0], a[1], b[1], a[2], b[2]
print(list)

('A', '1', 'B', '2', 'C', '3')

In [26]:
nums= [11, 22, 33, 44, 55, 66]
result=nums[3], nums[4], nums[5], nums[0], nums[1], nums[2]
print(result)

(44, 55, 66, 11, 22, 33)

# Practice4

In [37]:
student_tuple = ("Amanda", 19, [80, 90, 87])
Name, age, grade = student_tuple
print(f"Name is:{Name}, Age is {age}, Grade is {grade}")

Name is:Amanda, Age is 19, Grade is [80, 90, 87]

In [39]:
t = (10, 20, [30, 40])
t[2][0]= 99
print(t)

(10, 20, [99, 40])

we can change 30 to 99 because it is a list inside the tuple, lists are mutable

In [45]:
data = ("a", "b", "c", "a", "b", "a")
count_a = data.count("a")
index_b = data.index("b")
print(f'"a" appears {count_a} times.')
print(f'The first "b" is at index {index_b}.')

"a" appears 3 times.
The first "b" is at index 1.

In [46]:
students = (
("Alice", 18),
("Bob", 20),
("Charlie", 19))
for student in students:
    print(student[0])

Alice
Bob
Charlie

# practice5

In [77]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
print(data[::2])

[1, 3, 5, 7]

In [78]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print(t[5:])

('Sat', 'Sun')

In [80]:
letters = ["A", "B", "C", "D", "E"]
print(letters[1:4])

['B', 'C', 'D']

# Practice6

In [155]:

students = [
    ("Alice", [85, 90, 88]),
    ("Bob", [70, 75, 80]),
    ("Charlie", [95, 100, 98])
]
print(students[0:1])
def get_average(scores):
     return sum(scores)/len(scores)
for student in students:
     name = student[0]
     scores = student[1]
     average = get_average(scores)
     print(f"{name}'s average score is {average}")
def add_student(name, scores):
    for student in students:
         if student[0].lower()== name.lower():
              print(f"student '{name}' already exists.")
    return students.append((name, scores))
add_student("Mary", [100, 99, 98])
print(students)
def get_all_averages(students):
    averages = []
    for student in students:
         name = student[0]
         scores = student[1]
         averages.append((name, get_average(scores)))
    return averages 
print(get_all_averages(students))
def display_top_students():
     averages = get_all_averages(students)
     sorted_students = sorted(averages,key=lambda x: x[1],reverse=True)
     print("Top-Performing students:")
     for name, avg in sorted_students:
        print(f"{name}: Average = {avg}")
display_top_students()
def update_score(name, index, new_score):
    for student in students:
        if student[0] == name:
            student[1][index] = new_score
            print(f"Score updated for {name}. New scores: {students[1]}")
            return
update_score("Alice", 1, 95)
print(students)
name = input("Enter the student name: ")
found = False  
for student in students:
    if student[0] == name:  
        print(f"{student[0]}'s scores are: {student[1]}")
        found = True
        break
if not found:
    print(f"Student '{name}' not found.")

[('Alice', [85, 90, 88])]
Alice's average score is 87.66666666666667
Bob's average score is 75.0
Charlie's average score is 97.66666666666667
[('Alice', [85, 90, 88]), ('Bob', [70, 75, 80]), ('Charlie', [95, 100, 98]), ('Mary', [100, 99, 98])]
[('Alice', 87.66666666666667), ('Bob', 75.0), ('Charlie', 97.66666666666667), ('Mary', 99.0)]
Top-Performing students:
Mary: Average = 99.0
Charlie: Average = 97.66666666666667
Alice: Average = 87.66666666666667
Bob: Average = 75.0
Score updated for Alice. New scores: ('Bob', [70, 75, 80])
[('Alice', [85, 95, 88]), ('Bob', [70, 75, 80]), ('Charlie', [95, 100, 98]), ('Mary', [100, 99, 98])]
Mary's scores are: [100, 99, 98]