practice 1

In [5]:
List = ["Cambodia", "China", "Laos", " Indonesia"]
print(List[0])

Cambodia

In [7]:
List = ["dog", "cat","rabbit", "hamster" ]
print(List[-1])

hamster

#practice 2 
#practice 2

In [10]:
List = [13, 6 ,9 ,13, 57 , -67, 67]
List[3] = 45
print(List)

[13, 6, 9, 45, 57, -67, 67]

In [18]:
Fruit = ["apple", "banana", "cherry", "pasta", "avocado"]
Fruit[1] = "mango"
print(Fruit)

['apple', 'mango', 'cherry', 'pasta', 'avocado']

In [20]:
a = [ 1, 2, 3, 4, 5]
b = a
b[0] = 100
print(a,b)

[100, 2, 3, 4, 5] [100, 2, 3, 4, 5]

#pracitce 3

In [26]:
first_name = ["Alice", "Bob"]
last_name = ["Smith", "Lee"]
first_name + last_name
print(first_name + last_name)
result = first_name + last_name 
print(result)

['Alice', 'Bob', 'Smith', 'Lee']
['Alice', 'Bob', 'Smith', 'Lee']

In [1]:
first = ["Alice", "Bob"]
last = ["Smith", "Lee"]
print(first[0] + " " + last[0] + ", " + first[1] + " " + last[1] )

Alice Smith, Bob Lee

In [3]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]
c = a + b 
print(c)

['A', 'B', 'C', '1', '2', '3']

In [ ]:
nums = [11, 22, 33, 44, 55, 66, 77]