In [1]:
print("document")

document

# Pratice 1

#### Create a list of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [8]:
List=["Cambodia", "China", "Vietnam", "Laos"]
List[0]

'Cambodia'

#### Create a list of animal: ["dog","cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [17]:
List=["dog","cat","rabbit","hamster",]
List[-1]

'hamster'

# Pratice2
#### Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to"mango" and print the list.

In [18]:
List=["apple","banana", "cherry"]
List[1]="mangoo"
print(List)

['apple', 'mangoo', 'cherry']

##### Create a list called a = [1, 2, 3]
##### Assign b = a
##### Then set b[0] = 100
##### Print both a and b.

In [25]:
a=[1,2,3]
print("a:", a)
b=a
b[0]=100
print("b:", b)

a: [1, 2, 3]
b: [100, 2, 3]

# Pratice 3
#### Given two lists. Write code to print: ["Alice Smith", "Bob Lee"]. Use element access and +.

In [7]:
First_names= ["Alice ", "Bob "]
Last_names= ["Smith", "Lee"]
name= First_names+Last_names
print(First_names[0] + Last_names[0])
print(First_names[1]+ Last_names[1])

Alice Smith
Bob Lee


#### Create a new list like this: ["A", "1", "B", "2", "C", "3"]

In [17]:

a = ["A", "B", "C"]
b = ["1", "2", "3"]
List=[]
i=0
while i<len(a):
    List.append(a[i])
    List.append(b[i])
    i+=1
print(List)

['A', '1', 'B', '2', 'C', '3']

#### Split the list into 2 halves and swap their positions.Final result: [44, 55, 66, 11,22, 33]

In [ ]:
nums=[11,22,33,44,55,66]
haft= len(nums)//2
new_nums=nums[haft:]+nums[: haft]
print(new_nums)

[44, 55, 66, 11, 22, 33]

# practice 4
#### Change the value 30 to 99. Is it possible? Explain your answer

In [3]:
t = (10, 20, [30, 40])
t[-1][-2]=99
print(t)

(10, 20, [99, 40])

#### Count how many times "a" appears.Find the index of the first "b".

In [6]:
data = ("a", "b", "c", "a", "b", "a")

# Count how many times "a" appears
count_a = data.count("a")

# Find the index of the first "b"
first_b_index = data.index("b")

print("Count of 'a':", count_a)
print("Index of first 'b':", first_b_index)

Count of 'a': 3
Index of first 'b': 1

#### Print all names only, using a loop.

In [8]:
students = (
    ("Alice", 18),
    ("Bob", 20),
    ("Charlie", 19)
)

# Loop through each student and print only the name
for student in students:
    print(student[0])

Alice
Bob
Charlie

# Practice5
#### Print every other number (step size = 2):

In [1]:
data=[1,2,3,4,5,6,7,8]
for i in range(0, len(data), 2):
    print(data[i])

1
3
5
7

#### Print only the weekend days from the tuple.

In [3]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print(t[5:7])

('Sat', 'Sun')

#### Remove the first and last elements from this list using slicing:

In [6]:
letters = ["A", "B", "C", "D", "E"]

print(letters[1:4])

['B', 'C', 'D']

# pratice 6