In [1]:
print("document")

document

# Pratice 1

#### Create a list of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [8]:
List=["Cambodia", "China", "Vietnam", "Laos"]
List[0]

'Cambodia'

#### Create a list of animal: ["dog","cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [17]:
List=["dog","cat","rabbit","hamster",]
List[-1]

'hamster'

# Pratice2
#### Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to"mango" and print the list.

In [18]:
List=["apple","banana", "cherry"]
List[1]="mangoo"
print(List)

['apple', 'mangoo', 'cherry']

#### Create a list called a = [1, 2, 3]
#### Assign b = a
#### Then set b[0] = 100
#### Print both a and b.

In [25]:
a=[1,2,3]
print("a:", a)
b=a
b[0]=100
print("b:", b)

a: [1, 2, 3]
b: [100, 2, 3]

# Pratice 3
#### Given two lists. Write code to print: ["Alice Smith", "Bob Lee"]. Use element access and +.

In [7]:
First_names= ["Alice ", "Bob "]
Last_names= ["Smith", "Lee"]
name= First_names+Last_names
print(First_names[0] + Last_names[0])
print(First_names[1]+ Last_names[1])

Alice Smith
Bob Lee


#### Create a new list like this: ["A", "1", "B", "2", "C", "3"]

In [17]:

a = ["A", "B", "C"]
b = ["1", "2", "3"]
List=[]
i=0
while i<len(a):
    List.append(a[i])
    List.append(b[i])
    i+=1
print(List)

['A', '1', 'B', '2', 'C', '3']

#### Split the list into 2 halves and swap their positions.Final result: [44, 55, 66, 11,22, 33]

In [ ]:
nums = [11, 22, 33, 44, 55, 66]