In [2]:
print("Document")

Document

# Practice 1

#### Create a list of four countries: ["Cambodia", "China", "Vietnam", "Laos"]

In [53]:
list = [ "Cambodia", "China", "Vietnam", "Laos"]
print (list[0])

Cambodia

#### Create a list of animals: ["dog", "cat", "rabbit", "hamster"]

In [54]:
list = ["dog", "cat", "rabbit", "hamster"]
print (list[-1])

hamster

# Practice 2

#### Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list.

In [55]:
fruits = ["apple", "banana", "cherry"]
fruits[1]= "mango"
print (fruits)

['apple', 'mango', 'cherry']

#### Create a list called a = [1, 2, 3]
#### Assign b = a
#### Then set b[0] = 100
#### Print both a and b.

In [56]:
a = [1, 2, 3]
b = a
b[0]= 100
print (a , b)

[100, 2, 3] [100, 2, 3]

# Practice 3

#### Given two lists. Write code to print: ["Alice Smith", "Bob Lee"]. Use element access and +.

In [ ]:
first_name = ["Alice", "Bob"]
last_name = ["Smith", "Lee"]
print ("[",first_name[0]+" "+last_name[0],",", first_name[1]+" "+last_name[1],"]")

[ Alice Smith , Bob Lee ]

#### Create a new list like this: ["A", "1", "B", "2", "C", "3"]

In [1]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]
print ("[", a[0],",", b[0], ",", a[1], ",", b[1], ",", a[2], ",", b[2], "]")

[ A , 1 , B , 2 , C , 3 ]

#### Split the list into 2 halves and swap their positions.Final result: [44, 55, 66, 11, 22, 33]

In [3]:
num1= ["11", "22", "33"]
num2= ["44", "55", "66"]
print ("[", num2[0], ",", num2[1], ",", num2[2], ",", num1[0], ",", num1[1], ",", num1[2], "]")

[ 44 , 55 , 66 , 11 , 22 , 33 ]

# Practice 4

#### Change the value 30 to 99. Is it possible? Explain your answer

In [4]:
t = (10, 20, [30, 40])
t[2][0]= 99
print (t)

(10, 20, [99, 40])

#### Count how many times "a" appears.Find the index of the first "b".

In [7]:
data = ("a", "b", "c", "a", "b", "a")
count_a = data.count("a")
index_b = data.index("b")
print ("a appears", count_a, "times", ",","the first b is at index", index_b)

a appears 3 times , the first b is at index 1

#### Print all names only, using a loop.

In [20]:
students = (("Alice", 18), ("Bob", 20), ("Charlie", 19))
for name in students:
    print (name[0])

Alice
Bob
Charlie

# Practice 5

#### Print every other number (step size = 2):

In [12]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
print(data[::2])

[1, 3, 5, 7]

#### Print only the weekend days from the tuple.

In [14]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print (t[5:7])

('Sat', 'Sun')

#### Remove the first and last elements from this list using slicing:

In [6]:
letters = ["A", "B", "C", "D", "E"]
print (letters[1:4])

['B', 'C', 'D']

# Practice 6

###### Write a function add_student(name, scores) to add a new student.
###### Prevent duplicates based on name.
###### Write a function get_all_averages(students) to return a list of tuples with student names and their average scores.
###### Sort and display the top-performing students based on average score.
###### Write a function update_score(name, index, new_score) to update a specific score of a student.
###### Ask the user to enter a student name and print the studentâ€™s full score record. If the name does not exist, print a message.
###### Bonus Challenge:
###### Allow the user to remove a student by name.
###### Print a formatted grade summary report.

In [ ]:

students = [
    ("Alice", [85, 90, 88]),
    ("Bob", [70, 75, 80]),
    ("Charlie", [95, 100, 98])
]

def add_student(name, scores):
    """Add a new student if the name is not a duplicate."""
    for student in students:
        if student[0].lower() == name.lower():
            print(f"Student '{name}' already exists.")
            return
    students.append((name, scores))
    print(f"Student '{name}' added successfully.")

def get_all_averages(students):
    """Return list of tuples: (name, average score)."""
    averages = []
    for name, scores in students:
        avg = sum(scores) / len(scores) if scores else 0
        averages.append((name, avg))
    return averages

def display_top_students():
    """Display all students sorted by average score (highest first)."""
    averages = get_all_averages(students)
    averages.sort(key=lambda x: x[1], reverse=True)
    print("\nTop-Performing Students:")
    for name, avg in averages:
        print(f"{name}: {avg:.2f}")

def update_score(name, index, new_score):
    """Update a specific score for a student."""
    for i, (student_name, scores) in enumerate(students):
        if student_name.lower() == name.lower():
            if 0 <= index < len(scores):
                old_score = scores[index]
                scores[index] = new_score
                students[i] = (student_name, scores)  
                print(f"Updated {student_name}'s score at index {index} from {old_score} to {new_score}.")
                return
            else:
                print("Invalid score index.")
                return
    print(f"Student '{name}' not found.")

def print_student_scores(name):
    """Print a studentâ€™s full score record."""
    for student_name, scores in students:
        if student_name.lower() == name.lower():
            print(f"{student_name}'s scores: {scores}")
            return
    print(f"Student '{name}' not found.")

def remove_student(name):
    """Remove a student by name."""
    global students
    for student in students:
        if student[0].lower() == name.lower():
            students = [s for s in students if s[0].lower() != name.lower()]
            print(f"Student '{name}' removed successfully.")
            return
    print(f"Student '{name}' not found.")

def print_grade_summary():
    """Print a formatted grade summary report."""
    print("\nGRADE SUMMARY REPORT")
    print("-" * 30)
    for name, scores in students:
        avg = sum(scores) / len(scores) if scores else 0
        print(f"Name: {name}")
        print(f"Scores: {scores}")
        print(f"Average: {avg:.2f}")
        print("-" * 30)

while True:
    print("\n===== Student Management Menu =====")
    print("1. Add Student")
    print("2. Update Student Score")
    print("3. Show Student Scores")
    print("4. Show Top Students")
    print("5. Remove Student")
    print("6. Print Grade Summary")
    print("7. Exit")
    choice = input("Enter your choice (1-7): ")

    if choice == "1":
        name = input("Enter student name: ")
        scores_input = input("Enter scores separated by commas: ")
        scores = [int(x.strip()) for x in scores_input.split(",")]
        add_student(name, scores)
    elif choice == "2":
        name = input("Enter student name: ")
        index = int(input("Enter score index to update (starting from 0): "))
        new_score = int(input("Enter new score: "))
        update_score(name, index, new_score)
    elif choice == "3":
        name = input("Enter student name to view scores: ")
        print_student_scores(name)
    elif choice == "4":
        display_top_students()
    elif choice == "5":
        name = input("Enter student name to remove: ")
        remove_student(name)
    elif choice == "6":
        print_grade_summary()
    elif choice == "7":
        print("Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")