# Practice 1

#### Create a list of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print the first country in the list.

In [1]:
list = ["Cambodia", "China", "Vietnam", "Laos"]
print ("The first country on the list is", list[0])

The first country on the list is Cambodia

#### Create a list of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [9]:
list = ["dog", "cat", "rabbit", "hamster"]
print ("The last animal of negative indexing is", list[-1])

The last animal of negative indexing is hamster

# Practice 2

#### Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list

In [3]:
list = ["apple", "banana", "cherry"]
list[1] = 'mango'
print(list)

['apple', 'mango', 'cherry']

#### Create a list called a = [1, 2, 3], Assign b = a, Then set b[0] = 100, Print both a and b.

In [4]:
a = [1, 2, 3]
b = a
b[0] = 100
print ("a = ", a, "b = ", b)

a =  [100, 2, 3] b =  [100, 2, 3]

# Practice 3

#### Given two lists. Write code to print: ["Alice Smith", "Bob Lee"]. Use element access and +.

In [5]:
first_names = ["Alice", "Bob"]
last_names = ["Smith", "Lee"]
full_names = first_names[0] + " " + last_names[0], first_names[1] + " " + last_names[1],
print(full_names)

('Alice Smith', 'Bob Lee')

#### Create a new list like this: ["A", "1", "B", "2", "C", "3"]

In [6]:
a = ["A", "B", "C"]
b = ["1", "2", "3"]
list = [a[0], b[0], a[1], b[1], a[2], b[2]]
print(list)

['A', '1', 'B', '2', 'C', '3']

#### Split the list into 2 halves and swap their positions.Final result: [44, 55, 66, 11, 22, 33]

In [26]:
nums = [11, 22, 33, 44, 55, 66]
first_half = [nums[0], nums[1], nums[2]]
second_half = [nums[3], nums[4], nums[5]]
result = second_half + first_half
print(result)

[44, 55, 66, 11, 22, 33]

# Practice 4

#### Change the value 30 to 99. Is it possible? Explain your answer

In [10]:
t = (10, 20, [30, 40])
t[2][0] = 99
print(t)

(10, 20, [99, 40])

#### Answer: It is possible because even though a tuple is immutable, if it contains a list, the list can still be changed.

#### Count how many times "a" appears.Find the index of the first "b".

In [24]:
data = ("a", "b", "c", "a", "b", "a")
a_count = data.count("a")
first_b_index = data.index("b")
print( '"a"', "appears:", a_count, "times")
print("The first",'"b"', "is index", first_b_index)

"a" appears: 3 times
The first "b" is index 1

#### Print all names only, using a loop

In [25]:
students = (("Alice", 18), ("Bob", 20), ("Charlie", 19))
for student in students:
    print(student[0])

Alice
Bob
Charlie

# Practice 5

#### Print every other number (step size = 2):

In [28]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
print(data[::2])

[1, 3, 5, 7]

#### Print only the weekend days from the tuple.

In [29]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print(t[5:])

('Sat', 'Sun')

#### Remove the first and last elements from this list using slicing:

In [33]:
letters = ["A", "B", "C", "D", "E"]
print(letters[1:4])

['B', 'C', 'D']

# Practice 6: Mini Gradebook Manager

In [35]:
students = [
    ("Alice", [85, 90, 88]),
    ("Bob", [70, 75, 80]),
    ("Charlie", [95, 100, 98])
]

def get_average(scores):
    return sum(scores) / len(scores)

def add_student(name, scores):
    for student in students:
        if student[0].lower() == name.lower():
            print(name + " already exists.")
            return
    students.append((name, scores))
    print(name + " added successfully.")

def get_all_averages(students):
    averages = []
    for name, scores in students:
        avg = get_average(scores)
        averages.append((name, avg))
    return averages

def show_top_students():
    averages = get_all_averages(students)
    averages.sort(key=lambda x: x[1], reverse=True)
    print("\nTop Students by Average:")
    for name, avg in averages:
        print(f"{name}: {round(avg, 2)}")

def update_score(name, index, new_score):
    for i in range(len(students)):
        if students[i][0].lower() == name.lower():
            if index < 0 or index >= len(students[i][1]):
                print("Invalid index.")
                return
            students[i][1][index] = new_score
            print("Score updated: ") 
            new_student_score(name)
            return
    print("Student not found.")

def new_student_score(name):
    for student_name, scores in students:
        if student_name.lower() == name.lower():
            print(f"{student_name}'s new scores: {scores}")
            return
    print(f"No update found for student '{name}'.")

def view_student_record(name):
    for student_name, scores in students:
        if student_name.lower() == name.lower():
            print(f"{student_name}'s scores: {scores}")
            return
    print(f"No record found for student '{name}'.")

def remove_student(name):
    for student in students:
        if student[0].lower() == name.lower():
            students.remove(student)
            print(f"Student '{name}' removed.")
            return
    print(f"No student found with the name '{name}'.")

def print_summary():
    print("\nGrade Summary Report:")
    for name, scores in students:
        avg = get_average(scores)
        print(f"Name: {name}, Scores: {scores}, Average: {round(avg, 2)}")

print("===== Student Mini Gradebook Manager =====")
# 1. Show last 3 students
print("\n1. LAST 3 STUDENTS:")
for name, scores in students[-3:]:
    print(f"{name}: {scores}")

# 2. Add new students
print("\n2. ADDING STUDENTS:")
add_student("David", [92, 88, 90])
add_student("Sophea", [78, 82, 85])
add_student("Alice", [100, 100, 100])

# 3. Show all averages
print("\n3. ALL AVERAGES:")
averages = get_all_averages(students)
for name, avg in averages:
    print(f"{name}: {round(avg, 2)}")

# 4. Show top students
print("\n4. TOP PERFORMERS:")
show_top_students()

# 5. Update scores
print("\n5. UPDATING SCORES:")
update_score("Bob", 2, 88) 
update_score("Charlie", 0, 97)  
update_score("Alice", 5, 100) 

# 6. View records
print("\n6. VIEWING RECORDS:")
view_student_record("Alice")
view_student_record("David")
view_student_record("Alex")

# 7. Remove students
print("\n7. REMOVING STUDENTS:")
remove_student("Charlie")
remove_student("Frank") 

# 8. Final summary
print("\n8. FINAL SUMMARY:")
print_summary()

# 9. Final student list
print("\n9. FINAL STUDENT LIST:")
for name, scores in students:
    print(f"{name}: {scores}")

print("\n===== DEMONSTRATION COMPLETE =====")

===== Student Mini Gradebook Manager =====

1. LAST 3 STUDENTS:
Alice: [85, 90, 88]
Bob: [70, 75, 80]
Charlie: [95, 100, 98]

2. ADDING STUDENTS:
David added successfully.
Sophea added successfully.
Alice already exists.

3. ALL AVERAGES:
Alice: 87.67
Bob: 75.0
Charlie: 97.67
David: 90.0
Sophea: 81.67

4. TOP PERFORMERS:

Top Students by Average:
Charlie: 97.67
David: 90.0
Alice: 87.67
Sophea: 81.67
Bob: 75.0

5. UPDATING SCORES:
Score updated:
Bob's new scores: [70, 75, 88]
Score updated:
Charlie's new scores: [97, 100, 98]
Invalid index.

6. VIEWING RECORDS:
Alice's scores: [85, 90, 88]
David's scores: [92, 88, 90]
No record found for student 'Alex'.

7. REMOVING STUDENTS:
Student 'Charlie' removed.
No student found with the name 'Frank'.

8. FINAL SUMMARY:

Grade Summary Report:
Name: Alice, Scores: [85, 90, 88], Average: 87.67
Name: Bob, Scores: [70, 75, 88], Average: 77.67
Name: David, Scores: [92, 88, 90], Average: 90.0
Name: Sophea, Scores: [78, 82, 85], Average: 81.67

9. FINAL STUDENT LIST:
Alice: [85, 90, 88]
Bob: [70, 75, 88]
David: [92, 88, 90]
Sophea: [78, 82, 85]

===== DEMONSTRATION COMPLETE =====