In [23]:
print("Hello World")

Hello World

In [24]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [25]:
list=['cambodia','china','vietnam','laos']
print(list)

['cambodia', 'china', 'vietnam', 'laos']

Practice 1

#### Create a list of 4 countries: ["Cambodia", "China", "Vietnam", "Laos"] Print Searching and sorting the first country in the list.

In [26]:
list=['Cambodia','China','Vietnam','Laos']
print(list)

['Cambodia', 'China', 'Vietnam', 'Laos']

#### Create a list of animals: ["dog", "cat", "rabbit", "hamster"] Print the last animal using negative indexing.

In [1]:
list=['dog','cat','rabbit','hamster']
print(list[-1])

hamster

## Practice 2
####	Create a list of Fruits: ["apple", "banana", "cherry"]. Change "banana" to "mango" and print the list.

In [2]:
list=['apple','banana','cherry']
list[1]='mango'
print(list)

['apple', 'mango', 'cherry']

#### Create a list called a = [1, 2, 3]
#### Assign b = a 
#### Then set b[0] = 100 
#### Print both a and b.

In [3]:
a=[1,2,3]
b=a
b[0]=100
print(a)
print(b)

[100, 2, 3]
[100, 2, 3]

## Practice 3
#### Given two lists. Write code to print: ["Alice Smith", "Bob Lee"]. Use
#### element access and +.
#### first_names = ["Alice", "Bob"]
#### last_names = ["Smith", "Lee"]

In [28]:
first_name=['Alice','Bob']
last_name=['Smith','Lee']
full_name=[]
for i in range(len(first_name)):
    print(first_name[i]+" "+last_name[i])
    # full_name.append(first_name[i]+" "+last_name[i])
    # print(full_name)

Alice Smith
Bob Lee

#### Given
#### a = ["A", "B", "C"]
#### b = ["1", "2", "3"]
#### Create a new list like this: ["A", "1", "B", "2", "C", "3"]

In [67]:
a=['a','b','c']
b=['1','2','3']
new_list=[]
for i in range(len(a)):
    new_list.append(a[i])
    new_list.append(b[i])
print(new_list)

['a', '1', 'b', '2', 'c', '3']

#### Given
#### nums = [11, 22, 33, 44, 55, 66]
#### Split the list into 2 halves and swap their positions.Final result: [44, 55, 66, 11,
#### 22, 33]

In [46]:
nums=[11,22,33,44,55,66]
list=[]
middle=len(nums)//2
list=nums[middle:]+nums[:middle]
print(list)

[44, 55, 66, 11, 22, 33]

# Tuple

In [ ]:
# time_tuple = (9,16,1)
# second = time_tuple[0]*3600+time_tuple[1]*60+time_tuple[2]
# print(second)

# tuple1 = (10,20,30)
# tuple1 += (40, 50)
# print(tuple1)


student_tuple = ("Amanda", 19, [80,90,87])
print(student_tuple[2][1]) #index 2 in tuple and index 1 in list

student_tuple = ("Amanda", 19, [80,90,87])
Name, age, grade = student_tuple
print(f"Name is:{Name}, Age is {age}, Grade is {grade}")

90
Name is:Amanda, Age is 19, Grade is [80, 90, 87]

## Practice 4
## Given
#### t = (10, 20, [30, 40])
#### Change the value 30 to 99. Is it possible? Explain your answer

In [ ]:
t = (10, 20, [30, 40])
t1=t[2]
t1[0]=99
print(t1)
'''
Yes it is. Because the value 30 is in the list. But the list also located in tuple.
So we have to access the list first in tuple first, then we declare a variable to store the value of list. After that we can 
change the value 30 to 99 due to the fact that list is mutable which tuple is not.  
'''

[99, 40]

## Given
#### data = ("a", "b", "c", "a", "b", "a")
#### Count how many times "a" appears.Find the index of the first "b"

In [ ]:
data = ("a", "b", "c", "a", "b", "a")
count=0
# for i in data:
#     if i=='a':
#         count+=1
# print(count)
x=data.count('a')
y=data.index('b')
print(x)
print(y)

3
1

## Given
#### students = (
#### ("Alice", 18),
#### ("Bob", 20),
#### ("Charlie", 19))
#### Print all names only, using a loop.

In [32]:
students = (
("Alice", 18),
("Bob", 20),
("Charlie", 19))
for name,age in students:
    print(name)

Alice
Bob
Charlie

In [37]:
numbers= [2,3,5,6,11,13,17,19]
print(numbers[2:6])

numbers= [2,3,5,6,11,13,17,19]
print(numbers[:6])

numbers= [2,3,5,6,11,13,17,19]
print(numbers[6:])

numbers= [2,3,5,6,11,13,17,19]
print(numbers[:])

numbers= [2,3,5,6,11,13,17,19]
print(numbers[::2])

[5, 6, 11, 13]
[2, 3, 5, 6, 11, 13]
[17, 19]
[2, 3, 5, 6, 11, 13, 17, 19]
[2, 5, 11, 17]

## Practice 5
#### Given
#### data = [1, 2, 3, 4, 5, 6, 7, 8]
#### Print every other number (step size = 2)

In [45]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
print(data[::2])

[1, 3, 5, 7]

#### Given
#### t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
#### Print only the weekend days from the tuple.

In [47]:
t = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print(t[5:])

('Sat', 'Sun')

#### Remove the first and last elements from this list using slicing:
#### letters = ["A", "B", "C", "D", "E"]

In [49]:
letters = ["A", "B", "C", "D", "E"]
print(letters[1:4])

['B', 'C', 'D']

In [71]:
numbers = list(range(0,10))
del numbers[-1]
print(numbers)

numbers = list(range(0,10))
del numbers[0:2]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
numbers = [3,7,1,4,2,8,5,6]
print(numbers.index(5))

numbers = [3,5,1,4,2,8,5,6]
#You are looking for the value 5
#You want to start searching from index 3 (which is the number 4)
print(numbers.index(5,3))

6
6

In [73]:
numbers= [5,3,2,6,10,4,7,1,12]
numbers.sort()
print(numbers)

numbers= [5,3,2,6,10,4,7,1,12]
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 10, 12]
[12, 10, 7, 6, 5, 4, 3, 2, 1]

In [74]:
color_names=["Orange", "Yellow", "Green"]
color_names.insert(0, "Red")
print(color_names)

color_names=["Orange", "Yellow", "Green"]
color_names.append("Blue")
print(color_names)

color_names=["Orange", "Yellow", "Green"]
color_names.remove("Green")
print(color_names)

color_names=["Orange", "Yellow", "Green"]
color_names.clear()
print(color_names)

['Red', 'Orange', 'Yellow', 'Green']
['Orange', 'Yellow', 'Green', 'Blue']
['Orange', 'Yellow']
[]

In [76]:
list1 = []
for item in range(1, 6):
    list1.append(item)
print(list1)
list1 = [item for item in range(1,6)]
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

## Practice 6
#### Objective: Create a functional Python program that allows users to
#### manage and analyze student grades using lists, tuples, and functions.
#### Store student records as a list of tuples, where each tuple contains the
#### student’s name and a list of scores:
#### students = [
#### ("Alice", [85, 90, 88]),
#### ("Bob", [70, 75, 80]),
#### ("Charlie", [95, 100, 98])
#### ]
#### erform slicing on the list to show specific student data (e.g., last 3
#### tudents added).
#### Write a function get_average(scores) to calculate the average from
#### a list of scores.
#### Write a function add_student(name, scores) to add a new student.
#### Prevent duplicates based on name.
#### Write a function get_all_averages(students) to return a list of
#### tuples with student names and their average scores.
#### Sort and display the top-performing students based on average score.
#### Write a function update_score(name, index, new_score) to
#### update a specific score of a student.
#### Ask the user to enter a student name and print the student’s full score
#### record. If the name does not exist, print a message.
#### Bonus Challenge:
#### Allow the user to remove a student by name.
#### Print a formatted grade summary report.

In [ ]:
students=[
("Alice", [85,90,88]),
("Bob", [70,75,80]),
("Charlie", [95,100,98])
]
def add_student(name, scores):
    for existing_name,_ in students:
        if name.lower()==existing_name.lower():
            print(f"{name} is already existed in the list.")
            return 
    student_scores=[]
    for scores in scores.split(','): # This will let you enter scores separately by comma
        student_scores.append(int(scores.strip())) #Add scores to the list and convert the scores variable to int
    students.append((name,student_scores)) # add to parenthesis to make it become tuple or add two items
    print(f"{name} added successfully.")
def get_last_3_student():
    return students[-3:]
def update_score(name,index,new_score):
    for i, (existing_name, existing_scores) in enumerate(students): # Enumerate use to get pair value 
        if name.lower()==existing_name.lower():
            if 0<=index< len(existing_scores):
                existing_scores[index]=new_score # Update the score at the specified index
                students[i]=(existing_name,existing_scores) # Save the updated student record back to the list
                print(f"{name}'s score has been updated.")
            else:
                print("Invalid index") 
            return 
    print(f"{name} not found.")
def remove_student(name):
    for i, (existing_name,_) in enumerate(students):
        if name.lower()==existing_name.lower():
            del students[i]
            print(f"{name} removed from the list.")
            return
    print(f"{name} not found.")
def get_average(scores):
    return sum(scores) / len(scores)
def get_all_average(students):
    all_average=[]
    for existing_name, existing_scores in students:
        avg=get_average(existing_scores)
        all_average.append((existing_name,avg)) # Double parenthesis mean the code will display output as tuple
    return all_average
def get_grade(avg):
    if avg >= 90:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        return "C"
    elif avg >= 60:
        return "D"
    else:
        return "F"
def grade_book(students):
    print(f"============================AUPP Gradebook Summary Report============================")
    print('-'*50)
    print(f"{'Name':<10}{'Average':<10}{'Grade':<10}")
    print('-'*50)
    for name,scores in students:
        avg=get_average(scores)
        grade=get_grade(avg)
        print(f"{name:<10}{avg:<10.2f}{grade:<10}")
    print("-"*50)
if __name__=="__main__":
    while True:
        print("==================Welcome to AUPP Grade Manager==================")
        print("1. Add student")
        print("2. Print the last 3 students added to the list")
        print("3. Update student's score")
        print("4. Remove student")
        print("5. Show all students' average")
        print("6. Grade summary report")
        print("7. Exit")
        choice=int(input("Insert a number for the system to operate:"))
        match(choice):
            case 1:
                input_student=input("Enter the name of the student:")
                input_scores=input("Enter the student scores seperate by comma:")
                add_student(input_student,input_scores)
            case 2:
                print(get_last_3_student())
            case 3:
                update_name=input("Enter the name of the student you want to update:")
                update_index=int(input("Enter index between 0-2 for update the scores in the category:"))
                update_score_student=int(input("Input new scores for the student:"))
                update_score(update_name,update_index,update_score_student)
            case 4:
                remove_name=input("Enter the student's name you want to remove from the list:")
                remove_student(remove_name)
            case 5:
                result=get_all_average(students)
                print(result)
            case 6:
                (grade_book(students))
            case 7:
                print("Exiting the application...")
                break

==================Welcome to AUPP Grade Manager==================
1. Add student
2. Print the last 3 students added to the list
3. Update student's score
4. Remove student
5. Show all students' average
6. Grade summary report
7. Exit